<p>lazy works!</p>
<button routerLink="inner-lazy">lazy-inner</button>
<button routerLink="inner-lazy-second">lazy-inner</button>
<a [routerLink]="[{ outlets: { secondary: ['secondary-inner-lazy-second'] } }]">Secondary</a>
<button [routerLink]="[{ outlets: { secondary: null } }]">Back to second</button>
<button routerLink="../second">second</button>
<button routerLink="second">second</button>
<div class='secondary-outlet'>
  <router-outlet></router-outlet>
</div>

<div class='secondary-outlet'>
  <router-outlet name="secondary"></router-outlet>
</div>
