<div class="legend" *ngIf="{
  isFinished: isFinished$ | async,
  step: step$ | async
} data">Fill</div>
<div *ngFor="let row of board.rows" class="row">
  <div *ngFor="let cell of row.cells" class="cell" [class.visited]="cell.isVisited" (click)="board.visit(cell)">
  </div>
</div>

<div class="legend">
  <button *ngIf="!visitator" (click)="start()">Start</button>
  <button *ngIf="!!visitator" (click)="stop()">Stop</button>
  <button *ngIf="!!visitator && !visitator?.isPaused" (click)="pause()">Pause</button>
  <button *ngIf="!!visitator && !!visitator?.isPaused" (click)="resume()">Resume</button>
</div>
