<div class="todo-container column-container">
  <div class="list"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="doneList"
    (cdkDropListDropped)="onDrop($event)"
    >
    <h2>TODO</h2>
    <mat-card  *ngFor="let item of todo" cdkDrag class="list-item">
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div class="done-container column-container">
  <div class="list"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="todoList"
    (cdkDropListDropped)="onDrop($event)"
    >
    <h2>DONE</h2>
    <mat-card *ngFor="let item of done" cdkDrag class="list-item">
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
