$input-width: 35rem;

.drop-down-input{
  width: $input-width;
  background-color: white;
}

.drop-down-input-active{
  z-index: 1001;
}

.drop-down-search-panel{
  width: $input-width;
  min-height: 5rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: white;
}
