<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="first" id="cy-first-button">First</button>
    <button mat-button routerLink="second" id="cy-second-button">Second</button>
    <button mat-button routerLink="lazy">Lazy</button>
    <button mat-button routerLink="overlay">Overlay</button>
    <button mat-button routerLink="fill">Fill</button>
    <button mat-button routerLink="performance">Performance</button>
    <button mat-button routerLink="injectors-hierarchy">
      Injectors hierarchy
    </button>
    <button mat-button routerLink="drag-and-drop">Drag and drop</button>
    <button mat-button routerLink="dynamic">Dynamic components</button>
    <button mat-button routerLink="value-accessor">Value accessor</button>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <p>
    Is user loggedin: {{ authService.isLoggedIn }}
    <button *ngIf="authService.isLoggedIn" (click)="authService.logOut()">
      Logout
    </button>
  </p>
</div>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>
<at-third></at-third>
