<div>
  <p>Is user loggedin: {{authService.isLoggedIn}} <button *ngIf="authService.isLoggedIn" (click)="authService.logOut();">Logout</button></p>

</div>
<button routerLink="first">First</button>
<button routerLink="second">Second</button>
<button routerLink="lazy">Lazy</button>
<button routerLink="overlay">Overlay</button>
<button routerLink="fill">Fill</button>
<button routerLink="performance">Performance</button>
<button routerLink="injectors-hierarchy">Injectors hierarchy</button>
<router-outlet></router-outlet>
<at-third></at-third>


