<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="first" data-test="first-button">First</button>
    <button mat-button routerLink="second" data-test="second-button">Second</button>
    <button mat-button routerLink="lazy" data-test="lazy">Lazy</button>
    <button mat-button routerLink="overlay">Overlay</button>
    <button mat-button routerLink="fill">Fill</button>
    <button mat-button routerLink="performance">Performance</button>
    <button mat-button routerLink="injectors-hierarchy">
      Injectors hierarchy
    </button>
    <button mat-button routerLink="drag-and-drop">Drag and drop</button>
    <button mat-button routerLink="dynamic">Dynamic components</button>
    <button mat-button routerLink="value-accessor">Value accessor</button>
    <button mat-button routerLink="rxjs">Rxjs</button>
    <button mat-button routerLink="reactive-form">Reactive form</button>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <p>
    Is user loggedin: {{ authService.isLoggedIn }}
    <button *ngIf="authService.isLoggedIn" (click)="authService.logOut()">
      Logout
    </button>
  </p>
</div>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>
<at-third></at-third>
<!-- structural directive -->
<hr/>
<div *appAppFor="let item in [{id: 1, name: 'test 111'}, {id: 2, name: 'test 222'}]; let i = index">{{i}} {{item.id}}: {{item.name}} </div>
